.root {
  -fx-background-color: white;
  -fx-font-size:          14px;
  -fx-font-family:        sans-Serif;
  -fx-padding:            10px;
}

Button {
  -fx-background-color: #4ca7a7;
  -fx-text-fill:        #000000;
}

Button:hover {
  -fx-background-color: #327777;;
}

.display {
  -fx-text-fill: #161515;
}

#white_theme {
  -fx-stroke: #4ca7a7;
  -fx-fill: #4ca7a7;
}


#blue_theme {
  -fx-fill: #1a1a1b;
  -fx-stroke: #1a717c;
}

#pink_theme {
  -fx-fill: #1a1a1b;
  -fx-stroke: #c94e63;
}

#default_theme {
  -fx-fill:   #1a1a1b;
  -fx-stroke: #3d4246;
}
